

.nav-link{
    color: rgb(3, 3, 3) !important;
}

.navbar-brand{
    color: black !important;
}

.flex-container{
    display: flex !important;
}

.btn{
    background-color: rgb(193, 2, 2) !important;
    color: white !important;
}

select{
    box-shadow: none !important;
    border-color: black !important;
}

.pizza_name{
    font-size: 19px;
}

.fa-plus{
    color: rgb(3, 196, 3);
    margin: 5px;
}
.fa-minus{
    color: red;
    margin: 5px;
}

.fa-trash{
    color: red;
}